mat-dialog-actions {
  display: flex;
  justify-content: center;
}
.dialog-content {
  display: flex;
  gap: 10px;
}
.address-container {
  display: flex;
  gap: 10px;
}

.full-width {
  width: 100%;
}
